<mat-toolbar color="primary" class="mat-elevation-z4">
  <div class="d-flex justify-content-between align-items-center w-100">
    <span>Pool IT</span>
    <div>
      <mat-form-field class='field px-2' id='addressSearch' appearance="fill">
        <mat-label style="font-size: 12px;">Address</mat-label>
        <input type="text" placeholder="Address" aria-label="Search for a business address" name='address' matInput
          [(ngModel)]="searchBoxAddress" (ngModelChange)="searchAddress()" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let res of osmResults" [value]="res" (click)='selectAddress(res)'>
            <span style='font-size: 12px'>{{res.display_name}}</span>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field class='field  px-2' id='addressSearch' appearance="fill">
        <mat-label style="font-size: 12px;">Address</mat-label>
        <input type="text" placeholder="Address" aria-label="Search for a business address" name='address' matInput
          [(ngModel)]="searchBoxAddress" (ngModelChange)="searchAddress()" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let res of osmResults" [value]="res" (click)='selectAddress(res)'>
            <span style='font-size: 12px'>{{res.display_name}}</span>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>

  </div>
</mat-toolbar>

<div class="map-container">
  <div class="map-frame">
    <div id="map"></div>
  </div>
</div>